name: Build and Package

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller

    - name: Run PyInstaller
      run: |
        pyinstaller --name "EIC_Installer_Source" --onefile --windowed --icon="logo.ico" --distpath ./dist_pyinstaller gui_app/main.py

    - name: Prepare files for MSIX package
      shell: pwsh
      run: |
        Copy-Item -Path .\appxmanifest.xml -Destination .\dist_pyinstaller\appxmanifest.xml
        Copy-Item -Path .\msix_assets -Destination .\dist_pyinstaller -Recurse

    - name: Set up MSBuild
      uses: microsoft/setup-msbuild@v1.1

    - name: Create MSIX Package
      shell: pwsh
      run: |
        makeappx pack /d .\dist_pyinstaller /p .\EIC.msix

    - name: Upload MSIX Package
      uses: actions/upload-artifact@v4
      with:
        name: msix-package
        path: .\EIC.msix



