name: Build and Package

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller

    - name: Run PyInstaller
      run: |
        pyinstaller --name "EIC_Installer_Source" --onefile --windowed --icon="logo.ico" --add-data "logo.png;." --add-data "logo.ico;." gui_app/main.py

    - name: Download Inno Setup
      run: |
        curl -L -o innosetup.exe "https://files.jrsoftware.org/is/6/innosetup-6.2.2.exe"

    - name: Install Inno Setup
      run: |
        .\innosetup.exe /VERYSILENT /SUPPRESSMSGBOXES /NORESTART

    - name: Compile Inno Setup script
      run: |
        & "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" "installer_script.iss"

    - name: Download and Extract MSIX Packaging Tool
      shell: pwsh
      run: |
        Invoke-WebRequest -Uri "https://aka.ms/msix-packaging-tool-latest-version" -OutFile "MsixPackagingTool.zip"
        7z x MsixPackagingTool.zip -oMsixPackagingTool

    - name: Create MSIX Package
      shell: pwsh
      run: |
        .\MsixPackagingTool\MsixPackagingTool.exe create-app-package -p .\installer_output\setup.exe -d . -n EIC.msix --clean-package

    - name: Upload MSIX Package
      uses: actions/upload-artifact@v4
      with:
        name: msix-package
        path: .\EIC.msix

